<div class="container" *ngIf="stats.chartData != null">
  <div class="card-deck mb-3 text-center">
  
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Request Count per Status</h4>
        </div>
        <div class="chart">
          <canvas baseChart
            [data]="stats.chartData"
            [labels]="labels"
            chartType="pie"
            legend="true">
          </canvas>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Min & Max time</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Total number of requests: {{stats.totalCount}} </li>
            <li>Max-Time is: {{stats.maxTime}} milliseconds</li>
            <li>Min-Time is: {{stats.minTime}} milliseconds</li>
          </ul>
        </div>
      </div>

  </div>
</div>